<section>
    <div>
        <div class="logo">
            <img src="assets/logo.svg" alt="LOGO">
        </div>

        <div class="courses">
            <div>
                <h2>Courses</h2>
            </div>
            <div><a href="courses"><i class="fa-solid fa-code"></i>programing</a></div>
            <div><a href="courses/design"><i class="fa-solid fa-wand-magic-sparkles"></i>design</a></div>
        </div>

        <div class="contact">
            <div>
                <h2>Contact us</h2>
            </div>
            <div><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i>Facebook</a>
            </div>
            <div><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i>LinkedIn</a>
            </div>
            <div><a href="https://www.gmail.com/" target="_blank"><i class="fa-solid fa-at"></i>Mail</a></div>
            <div><a href="https://web.whatsapp.com/" target="_blank"><i
                        class="fa-solid fa-square-phone"></i>+201234567891</a></div>
        </div>
    </div>
</section>