<div class="cards">
    <div id="img1">
        <p class="title">Web Development</p>
        <p class="hidden">Explore the essentials of Web Development, from HTML,
            CSS, and JavaScript to creating full-featured, responsive websites.</p>
    </div>
    <div id="img2">
        <p class="title">Python for Beginners</p>
        <p class="hidden">Start your coding journey with Python, the versatile and
            beginner-friendly language ideal for various programming needs.</p>
    </div>
    <div id="img3">
        <p class="title">JS Mastery</p>
        <p class="hidden">Achieve JavaScript Mastery by understanding advanced concepts,
            best practices, and building interactive, high-performance web apps.</p>
    </div>
    <div id="img4">
        <p class="title">Data Science</p>
        <p class="hidden">Learn Data Science using R, mastering data manipulation,
            visualization, and statistical analysis to uncover insights.</p>
    </div>
    <div id="img5">
        <p class="title">Machine Learning</p>
        <p class="hidden">Dive into Machine Learning, exploring algorithms,
            models, and real-world applications to make data-driven predictions.</p>
    </div>
    <div id="img6">
        <p class="title">Angular & TS</p>
        <p class="hidden">Master Angular and TypeScript to build dynamic,
            responsive web applications with powerful, scalable front-end frameworks.</p>
    </div>
</div>