<div class="container">
  <section class="intro">
    <div>
      <h1>Strengthen Your Skills, Build Your Future, Achieve Greatness.</h1>
      <p>Discover a range of courses to help you achieve your goals.</p>
    </div>
    <img src="/assets/6184436_3094291.svg" alt="">
    <div class="info">
      <p class="first">Info</p>
      <p><span>Students</span><br>24K</p>
      <p><span>Materials</span><br>600+</p>
      <p><span>Qty. Class</span><br>24
      <p>
      <p><span>Mentors</span><br>48</p>
    </div>
  </section>

  <section class="services">
    <div class="main">
      <h2>What We Offer</h2>
      <img src="/assets/laptop.png" alt="">
    </div>
    <div class="details">

      <div class="dv">
        <div class="ico"><i class="fa-solid fa-circle-check"></i></div>
        <div class="par">
          <p><span>Expert-Led Courses: </span><br><br>Learn from industry professionals with real-world experience.</p>
          <br><br>
        </div>
      </div>

      <div class="dv">
        <div class="ico"><i class="fa-solid fa-book"></i></div>
        <div class="par">
          <p><span>Comprehensive Curriculum: </span><br><br>Dive deep into subjects with detailed, up-to-date content.
          </p><br><br>
        </div>
      </div>

      <div class="dv">
        <div class="ico"><i class="fa-solid fa-lightbulb"></i></div>
        <div class="par">
          <p><span>Flexible Learning: </span><br><br>Access courses anytime, anywhere, at your own pace.</p><br><br>
        </div>
      </div>

    </div>
  </section>

  <section class="feedback">
    <div class="fMain md">
      <h2>Students feedback</h2>
      <img src="/assets/feedback.png" alt="">
    </div>

    <div class="fDetails">

      <div class="div">
        <div class="icon"><img src="/assets/messi.png" alt=""></div>

        <div class="para">
          <p><span>Lionel messi: </span><br><br>These courses are amazing! The lessons are clear and practical, making
            learning so enjoyable. I've gained skills I can use right away.</p>
          <br><br>
        </div>
      </div>

      <div class="div">
        <div class="icon"><img src="/assets/harry.jpg" alt=""></div>
        <div class="para">
          <p><span>Harry potter: </span><br><br>Excellent courses! The content is well-organized, and the support is
            great. I feel much more confident in my abilities now.
          </p><br><br>
        </div>
      </div>

    </div>
    <div class="fMain bg">
      <h2>Students feedback</h2>
      <img src="/assets/feedback.png" alt="">
    </div>
  </section>
</div>