<div class="cards">
    <div id="img1">
        <p class="title">UI/UX Design</p>
        <p class="hidden">Explore the fundamentals of UI/UX design,
            focusing on user-centric design principles and creating intuitive digital experiences.</p>
    </div>
    <div id="img2">
        <p class="title">Adobe Photoshop</p>
        <p class="hidden">Master photo editing and graphic design with Adobe Photoshop,
            creating stunning visuals and professional-quality images.
        </p>
    </div>
    <div id="img3">
        <p class="title">Figma</p>
        <p class="hidden">Learn to design user interfaces collaboratively in Figma,
            from wireframes to polished interactive prototypes.</p>
    </div>

</div>