<div class="container">
    <!-- Hero Section -->
    <div class="hero">
        <h1>Learn Programming with Our Expert-Led Courses</h1>
        <p>Expand your knowledge and skills with our top-rated programming courses.</p>
    </div>

    <div class="category">
        <a routerLink="programming" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Programing</a>
        <a routerLink="design" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Design</a>
    </div>

    <router-outlet></router-outlet>
</div>